<template>
  <div class="hello">

  <div class="form">
  <input type="text" placeholder="Enter news here" v-model="title">
  <input type="text" placeholder="Author" v-model="auth">
  <button @click="addnews">ADD NEWS</button>

  </div>
  <div class="find">
  <input type="text" v-model="searchAuthor" placeholder="Search author here">
  <button @click="search">SEARCH</button>

  </div>
  <div class="find">
  <button @click="sortnow">TOGGLE SORT</button>
  
  </div>

  <h1>ALL NEWS</h1>
    <ul>
    <li v-for="item in filteredList">{{item.Title}} by <b>{{item.Author}}</b></li>
    </ul>
  </div>
 
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      results:[],
      news:[],
      
      title:'',
      auth:'',
      searchAuthor:'',
      found:'',
      mr:'',
      index:0,
      temp:{},
      flag:false
      
      
     
    }
  },
  mounted(){

      axios.get("https://newsapi.org/v2/top-headlines?country=us&category=business&apiKey=e3dbee9cd0994fb28d300538611d2106")
    .then(response => {this.results = response.data.articles;
    console.log(JSON.stringify(this.results));
    this.makearray();
   

    })
    },
  methods:
  {
    addnews(){
      this.temp["Title"]=this.title;
      this.temp["Author"]=this.auth;
      this.news.push(this.temp);
      
    },
    sortnow()
    {

        this.flag = !this.flag;
        console.log(this.flag);
        if(this.flag==true)
        {
        this.news.sort(function(a,b){
          //console.log(a.Date);

        var dateA=new Date(b.Date.split("T")[0]), dateB=new Date(a.Date.split("T")[0]);
        return dateB-dateA 
        });
      }
      else
      {
        this.news.sort(function(a,b){
          //console.log(a.Date);

        var dateA=new Date(a.Date.split("T")[0]), dateB=new Date(b.Date.split("T")[0]);
        return dateB-dateA 
        });
        //this.showup();
      }
    },
     
    showup()
    {
      alert(JSON.stringify(this.news,null,20));
    },
    makearray(){
      this.news=this.results.map(x => ({Title: x.title , Date: x.publishedAt , Author: x.author}));
      this.checkforauthor();
      //this.author=this.results.map(x => x.author);
      console.log(JSON.stringify(this.news));
      //console.log(this.author);

  },
  checkforauthor()
  {
    for (var i=0;i<this.news.length;i++)
    {
      if(this.news[i].Author == null)
        this.news[i].Author="somebody";
    }
  },
  findit()
  {
    //console.log(this.searchAuthor);
    this.found=this.news.find((element) => { 
    return element.Title==this.searchAuthor;});
    console.log(this.found);
  },
  search(){
    
    this.findit();
    this.index=this.news.indexOf(this.found);
    console.log(this.news.indexOf(this.found));
    alert("the news by above author is :" + this.news[this.index].Title);
  }
},
computed: {
    filteredList() {
      if(this.news.length == 0 ){
        return;
      }
      return this.news.filter(field => {
        //console.warn(field);
        return field.Author.toLowerCase().includes(this.searchAuthor.toLowerCase())
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  
  padding: 0;
  text-align:left;
}
li {
  
  margin-left:10px;
}
a {
  color: #42b983;
}
.find
{
  margin-top: 20px;
}
</style>
